.view {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #fff;
}
h4,
h2 {
  margin-bottom: 15px;
}
.btn {
  display: block;
  color: black;
  text-align: center;
  background: rgb(255, 103, 15);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 10px;
}
.btn:hover {
  background: rgb(15, 158, 180);
  color: #fff;
  cursor: pointer;
}
