a.btn {
  margin-right: 2em;
  margin-top: 20em;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #9a4ef1;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  height: 5em;
  width: 10em;
}
a.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}
@media all and (max-width: 30em) {
   a.button4 {
    display: block;
    margin: 0.2em auto;
  }
}
.button {
  text-align: center;
  margin-top: 20px;
}
.editor {
  text-align: center;
}
.amountNumber {
  color: red;
  margin-left: 5px;
}
.amount {
  margin-left: 50px;
}
.form-content {
  margin: 50px;
}
.display {
  display: flex;
  margin-bottom: 10px;
}
.flexQ {
  flex: 50%;
}
.flexName {
  flex: 50%;
  text-align: right;
  margin-right: 50px;
}
.selectBox {
  text-align: center;
  margin: 10px;
}
.label {
  margin-right: 50px;
}
a[disabled] {
  /* color: gray;
  pointer-events: none; */
}
